name: GitHub Actions

on: [push]

jobs:

  python:

    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install dependencies
        working-directory: functions
        run: |
          pip install -r requirements.txt
          pip install -r requirements-test.txt

      - name: Run formatter
        working-directory: functions
        run: black --diff --check .

      - name: Unit tests
        working-directory: functions
        run: pytest -sv .

  terraform:

    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 0.12.28

      - name: Terraform fmt
        run: terraform fmt -diff -check -recursive .

  terraform-docs:

    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2

      - name: Download terraform-docs
        run: |
          mkdir tmp
          curl -Lo tmp/terraform-docs.tar.gz https://github.com/terraform-docs/terraform-docs/releases/download/v0.12.1/terraform-docs-v0.12.1-$(uname)-amd64.tar.gz
          tar -xzf tmp/terraform-docs.tar.gz -C tmp
          chmod +x tmp/terraform-docs

      - name: Run terraform-docs
        run: ./tmp/terraform-docs .

      - name: Check terraform-docs diffs
        run: |
          if [[ $(git --no-pager diff) ]] ; then
            echo "You need to run `terraform-docs .` before commit."
            git --no-pager diff
            exit 1
          fi
